body {
    font-family: "Nunito", sans-serif;

    a.fit-link {
        height: fit-content;
    }

    .content-title-section {
        padding: 2rem 0rem;

        &.view-all {
            padding: 2rem;
        }

        .title-wrapper {
            .col-3 {
                display: flex;
                justify-content: center;
            }

            .col-9 {
                display: flex;
                align-items: center;
            }
        }
    }

    .content-table {
        a {
            text-decoration: none;
            color: black;
        }

        img {
            display: block;
            margin: 0 auto;
            width: 100%;
        }

        .player-image {
            border-radius: 50%;
        }
    }

    .content-body {
        a {
            text-decoration: none;
            color: black;
        }

        td {
            font-size: 1.25rem;
        }

        .team-name {
            font-size: 1.5rem;
        }
    }
}
