.content-container {
    font-family: "Nunito", sans-serif;

    #div-1, #div-2, #div-3 {
        font-size: 24px;
        color: #fff;
        width: 150px;
        height: 150px;
        margin: 1rem;
        position: relative;
        border-radius: 6px;

        &:hover {
            font-weight: 700;
            letter-spacing: 3px;
            box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
            transition: all 0.3s ease 0s;
        }
    }

    #div-1 {
        background-color: red;
    }

    #div-2 {
        background-color: green;
    }

    #div-3 {
        background-color: blue;
    }

    button {
        border: none;
        background: #367edd;
        color: #ffffff !important;
        font-weight: 100;
        padding: 10px;
        text-transform: uppercase;
        border-radius: 6px;
        display: inline-block;
        transition: all 0.3s ease 0s;

        &:hover {
            color: #367edd !important;
            font-weight: 700 !important;
            letter-spacing: 3px;
            background: none;
            box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
            transition: all 0.3s ease 0s;
        }
    }
}
