.content-container {
  font-family: "Nunito", sans-serif;
}

.content-container #div-1,
.content-container #div-2,
.content-container #div-3 {
  font-size: 24px;
  color: #fff;
  width: 150px;
  height: 150px;
  margin: 1rem;
  position: relative;
  border-radius: 6px;
}

.content-container #div-1:hover,
.content-container #div-2:hover,
.content-container #div-3:hover {
  font-weight: 700;
  letter-spacing: 3px;
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.content-container #div-1 {
  background-color: red;
}

.content-container #div-2 {
  background-color: green;
}

.content-container #div-3 {
  background-color: blue;
}

.content-container button {
  border: none;
  background: #367edd;
  color: #ffffff !important;
  font-weight: 100;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.content-container button:hover {
  color: #367edd !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

